.headings {
  text-align: center;
  color: darkgreen;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  color: goldenrod;
  margin-bottom: 70px;
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #303030;
  font-family: 'Lato', sans-serif;
}

h3 {
  text-align: center;
  color: #303030; 
  font-family: 'Raleway', sans-serif;
}

h4 {
  color: #303030; 
  font-family: 'Raleway', sans-serif;
}

h5 {
  color: #303030; 
  font-family: 'Raleway', sans-serif;
}