.brand-show {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.brand-show-header {
  margin-top: 30px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.profile-buttons {
  display: flex;
  justify-content: space-around;
}