
.logo-container {
  display: flex;
  align-content: center;
}

.home-logo {
  height: 350px;
  width: 350px;
  display: block;
  margin: 0 auto;
}

.navmargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-body-container {
  // display: blocl;

}

.home-heading {
  text-align: center;
  display: block;
  margin-top: 100px;
  margin-bottom: 70px;
}
.home-body {
text-align: center;
display: block;
}