.success {
  text-align: center;

}

.success-container {
  display: flex;
  justify-content: center;
}


.success-img {
  margin-top: 17px;
  height: 350px;
  width: 350px; 
  border: 1px solid goldenrod; 
  box-sizing: border-box;
  padding: 3px; 
}
